<%-include("partials/nav");-%>
    <link rel="stylesheet" href="/public/css/register.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>TPO</title>
  </head>
  <body>
    <a href="/jobs"><h1>Click here for Amazon-Wow</h1></a>