.form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    border-radius: 3%;
}
form{
    display: flex;
    flex-direction: column;
}

.head h2{
    text-align: center;
    margin: 5px;
}

form label,input,button{
    margin: 10px;
}

form button{
    margin: 15px;
}


